<ons-toolbar id="toolbar">
    <div class="center">
        Mobilu
    </div>
</ons-toolbar>

<ons-page>
	<div ng-controller="ChatCtrl">
		<p style="text-align: center; opacity: 0.6; padding-top: 10px;">CHAT WITH TEAM {{team | uppercase}}</p>

		<div ng-hide="!loggedIN">
			<div class="container" id="block">
				<div id="printHere"></div>
			</div>
			<div>
				<input type="text" id="input" value="Hello" onclick="clearText()"></input>
				<ons-button style="border-radius:10px;"><ons-icon icon="send-o"></ons-icon></ons-button>
			</div>
		</div>

		<div ng-hide="loggedIN">
			<p style="text-align: left; opacity: 0.6; padding-top: 10px;">In order to chat you have to sign up or log in. :)</p>
		</div>
	</div>
</ons-page>

                        

