<ons-toolbar id="toolbar">
    <div class="center">
        Mobilu
    </div>
</ons-toolbar>

<ons-page>
	<p style="text-align: center; opacity: 0.6; padding-top: 10px;">
		      CHAT WITH TEAM SCISSORS
		    </p>
		    <div class="container" id="block">
			    <div id="printHere"></div>
			</div>
			<div>
				<input type="text" id="input" value="Hello" onclick="clearText()"></input>
				<button style="border-radius:10px;"><ons-icon icon="send-o"></ons-icon></button>
			</div>
</ons-page>

                        

