<ons-toolbar id="toolbar">
    <div class="center">
        Mobilu
    </div>
</ons-toolbar>

<ons-page>
	<div ng-controller="ChatCtrl">
		<p style="text-align: center; opacity: 0.6; padding-top: 10px;">CHAT WITH TEAM {{team | uppercase}}</p>

		<div ng-hide="!loggedIN">

			<div class="container" id="block" ng-model="textbox">
				<div ng-repeat="element in messageList">
					<span>{{element["0"]}}: {{element["1"]}}</span>
				</div>
				<!--<div>{{messageList}}</div>-->
			</div>
			<div>
				<p>Username: </p>
				<input type="text" id="userbox" ng-model="chatuser" value="Anon"></input><br>
				<p>Message: </p>
				<input type="text" id="input" ng-model="msginput" value="Hej"></input>
				<ons-button ng-click="sendmsg()" style="border-radius:10px;"><ons-icon icon="send-o"></ons-icon></ons-button><br>
			</div>
		</div>

		<div ng-hide="loggedIN">
			<p style="text-align: left; opacity: 0.6; padding-top: 10px;">In order to chat you have to sign up or log in. :)</p>
		</div>
	</div>
</ons-page>

                  
