<ons-toolbar id="toolbar">
    <div class="center">
        Mobilu
    </div>
</ons-toolbar>

<ons-page>
<div ng-controller="MapCtrl">
	<div>MAP START</div>

	<div id="map" map-lazy-load="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLTqYGgmbIGdjSQxeRb9JjVQ5Tq4FANdc" map-lazy-load-params="googleMapsUrl">
  		<ng-map zoom="13" center="Huvudbyggnad (D & E), Valhallavägen, Stockholm, Sverige" style="height:200px"></ng-map>
	</div>

	<div>MAP END</div>

	<h1> {{text}} </h1>

	<div ng-repeat="(location,team) in data">
  		<p>{{location}} belongs to {{team}}</p>
	</div>
</div>
</ons-page>

                        

