<ons-toolbar id="toolbar">
    <div class="center">
        Mobilu
    </div>
</ons-toolbar>

<ons-page ng-controller="ScoreCtrl">
	<div style="padding-top: 20px;"></div>
	<ons-list modifier="inset">
		<h2 style="text-align: center; opacity: 0.6;">Scoreboard</h2>
    	<ons-list-header modifier="longdivider">Your team: </ons-list-header>
    	<ons-list-item modifier="longdivider">Team {{team2}} controll {{number}} out of {{total}} buildings.</ons-list-item>
    	<div ng-hide="!loggedIN">
    		<ons-list-header modifier="longdivider">You: </ons-list-header>
    		<ons-list-item modifier="longdivider">You have been to {{yourNumber}} buildings.</ons-list-item>

    		<ons-list-header modifier="longdivider">All teams: </ons-list-header>
    		<ons-list-item modifier="longdivider">Members in Paper team: {{paper}}.</ons-list-item>
    		<ons-list-item modifier="longdivider">Members in Rock team: {{rock}}.</ons-list-item>
    		<ons-list-item modifier="longdivider">Members in Scissors team: {{scissors}}.</ons-list-item>
    	</div>
    	<div ng-hide="loggedIN">
    		<ons-list-item modifier="longdivider">Please log in to see your own stats ;)</ons-list-item>
		</div>
  	</ons-list>
</ons-page>

                        

