<ons-toolbar id="toolbar">
    <div class="center">
        Mobilu
    </div>
</ons-toolbar>

<ons-page>
	<div ng-controller="ScoreCtrl">
		<h2 style="text-align: center; opacity: 0.6; padding-top: 20px;">Scoreboard</h2>
		<p style="text-align: center; opacity: 0.6;">Your team: </p>
		<p>Team {{team}} controll {{number}} out of {{total}} buildings.</p>
		<div ng-hide="!loggedIN">
			<p style="text-align: center; opacity: 0.6;">You: </p>
			<div>You have been to {{yourNumber}} buildings.</div>
			<div>You have walked {{distance}} km.</div>

			<p style="text-align: center; opacity: 0.6;">All Teams: </p>
			<div>Members in Paper team: {{paper}}.</div>
			<div>Members in Rock team: {{rock}}.</div>
			<div>Members in Scissors team: {{scissors}}.</div>
		</div>
		<div ng-hide="loggedIN">
			<p>Please log in to see your own stats ;)</p>
		</div>
	</div>
</ons-page>

                        

