.tabbar { background-color: #00261C; }

#toolbar { background-color: #044C29; }

#block {
	background-color: Gainsboro; 
	max-width: 80%;
	border-radius:10px;
	padding: 3%;
	margin: auto;
	margin-top: 35px;
	height: 50%;
	font-family: 'Baloo';
	overflow-y: scroll;
}

#input {
	min-width: 60%;
	border-radius: 10px;
	padding: 3%;
	margin-top: 35px;
	margin-left: 15%;
}

.teamButton {
	width: 100%;
	text-align: center;
	background-color: gray;
}